venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
db.sqlite3
media/
staticfiles/
.env
*.egg-info/
dist/
build/
docs_site/
.coverage
htmlcov/
settings.ini
secrets.env
dbdump.json
test.csv
data/
jupyter/
working_dir/
.vscode/
.pytest_cache/
*.toml/
working_dir_old/
working_dir/
.seer_state.db